/* Font styling Start */


/* legger til font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Font styling End */



/* all elements styling Start */


/* gir alle elementer posisjon og størrelse. også fjerner text stil til alle elementer  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }


/* all elements styling End */








/* menu-bar styling Start */



/* gir posisjon for menu bar. */

.max-width {
  padding: 0 80px;
  margin: auto;
}


/* gir menu bar posisjon, bredde, verdi og font.
  også hvor mye tid skal den ta, til menu bar får bakgunnsfarge blå. */

.menu-bar {
    position: fixed;
    width: 100%;
    z-index: 3;
    right: 1px;
    padding: 15px 0;
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s;
    background:rgb(5, 153, 79);
}


.menu a {
  position: relative;
  color: #fff;
  padding:15px;
  top:8px;
  text-decoration: none;
}

.menu-bar .active {
  color: red;
  border-bottom: 1px solid red;
}
.menu-bar a:hover {
  color: lightblue;
  border-bottom: 1px solid red;
}


/* når man blar ned, får menu bar bakgunnsfarge blå. */

.menu-bar.sticky {
  padding: 15px 0;
  background: rgb(37, 185, 57);
  transition: color 0.3s;

}


/* gir posisjon for menu bar og mellerom */

.menu-bar .max-width {
  display: flex;
  justify-content: space-between;
}


/* gir hvit farge til kallenavn min og hvor mye tykt skal den være */

.menu-bar .nickname a {
  color: white;
  font-size: 35px;
  font-weight: 600;
  }


/* gir blå farge til forkortelse av kallenavn min. */

.menu-bar .nickname a span{
  color: firebrick;
  transition: color 0.3s;


}

/* når man blar ned, bytter forkortelse av kallenavn min, farge til hvit. */

.menu-bar.sticky .nickname a span {
  color: white;
}


/* gir retning for menu bar tittelene */

.menu-bar {
  display: inline-block;
}


/* gir fontstørrelse og hvit farge til menu bar tittel.
   Også hvor mye tykt skal den være og hvor mye tid skal den ta, til den bytter farge. */

.menu-bar {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-left: 14px;
  transition: color 0.3s;
}





/* menu-bar styling End */

/* alle seksjoner tittel får font, posisjon, fontstørrelse og hvor mye tykt skal de være. */

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}


/* legger til innhold bokser som er Nyeste oppdatering
 og gir de posisjon, bredde, høyde og bakgrunn svart */

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 350px;
  height: 3px;
  background: white;
  transform: translate(-50%);
}


/* gir posisjon, fontstørrelse og bakgrunn hvit, til innhold tekst som er Nysete oppdatering. */

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 18px;
  color: crimson;
  padding: 5px;
  background: black;
  transform: translate(-50%);
}
  
/* Legger til innhold tekst som er Nysete oppdatering. */

  section .title::after {
  content: 'Overview of Players and Clubs:';
 }

  




  /* Homepage styling Start */


  /* legger til bakgrunn for homepage min. etter det gir jeg font, hvit farge, posisjon
    og bakgrunnshøyde til homepage min. Også sier jeg at, bakgrunne skal dekke hele homepage. */

  .homepage {
    display: flex;
    height: 100vh;
    color: white;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
  }


  /* gir posisjon til homepage min. */

  .homepage .max-width {
    margin: auto 0 auto 40px;
  }


  /* gir fontstørrelse  til homepage tekst nummer 1. */

  .homepage .text-1 {
    font-size: 27px;
  }


  /* gir fontstørrelse og posisjon til homepage tekst nummer 2. også hvor mye tykt skal den være. */

  .homepage .text-2 {
      max-width: 100%;
      font-size: 65px;
      font-weight: 600;
      margin-top: -25px;
      margin-left: -18px;
      color: tomato;

  }

  /* gir fontstørrelse og posisjon til homepage tekst nummer 3. */

  .homepage .text-3 {
      font-size: 40px;
      margin: 2px 0;
      margin-left: -18px;

  }


  /* gir turkish farge til teksten som blir skrevet i homepage. Også hvor mye tykt skal den være */

  .homepage .text-3 span {
      color: red;
      font-weight: 500;
      margin-top: 3px;
  }


  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 10%;
    z-index: -1;

  }
  /* Homepage styling End */



  .sfb {
    background: url("/Bilder/background-8.jpeg");
    color: white;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
  }


  .button {
    background-color: black;
    color:white;
    padding: 10px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 8%;
  }

  .button-2 {
    position: relative;
    background-color: black;
    margin-left: 26%;
    bottom: 110px;
    padding: 10px;
    cursor: pointer;
    color:white;
  }
    

  #box {
    position: absolute;
    width: 90%;
    height: 600px;
    margin-right: 2%;
    right: 45px;
    bottom: 7%;
    border: 2px solid blue;
    box-shadow: 0 5px 38px red;
    background: url("/Bilder/background-4.jpg");
    background-size: cover;

  }


  #txt {
    position: relative;
    width: 85%;
    bottom: 7px;
    right: 230px;
    font-size: 25px;
    font-weight: 300;

    }

    #txt-box {
      position: absolute;
      width: 90%;
      height: 200px;
      left: 45px;
      margin-top: 150px;
      background:#696969c5;
      border-radius: 20px;
    }

   
    #txt-2 {
      position: relative;
      max-width: 200px;
      top: -50px;
      margin-left: 10px;
      font-size: 18px;
      color:tomato;
      font-weight: 800;

      }


    #txt-3 {
      max-width: 200px;
      top: -40px;
      margin-left: 2px;
      font-size: 18px;
      color:rgb(33, 238, 5);
      font-weight: 800;
  
      }


    .title {
      position: absolute;
      left: -10px;
      top: 40px;
      color: #fff;
    }


    h1 {
      position: absolute;
      left: 460px;
      top: 60px;
      color: rgb(20, 235, 31);
    } 


    h2 {
      position: relative;
      margin-left: 10px;
      margin-top: 10px;
    }

    h3 {
      position: relative;
      margin-left: 10px;
      margin-top: 10px;
      }


    p {
    position: relative;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 20px;
    }


    #no-club {
      position: relative;
      right: 190px;
      top: 50px;
    }


    #no-players {
      position: relative;
      bottom: 165px;
      left: 80px;
    }



    #bkve {
    display: inline-block;
    max-width: 500px;
    bottom: 45px; 
    right: 240px;  
    font-size: 15px;
    font-weight: 700;
    } 


    #bkve-2 {
      display: inline-block;
      position: relative;
      max-width: 450px;
      margin-left: 10px;
      color:firebrick;
      top: -30px;
      font-size: 25px;
    }



    #kbn {
      display: inline-block;
      position: relative;
      max-width: 450px;
      color:firebrick;
      top: -10px;
      font-size: 25px;
    }

    #fn-en {
      position: relative;
      max-width: 200px;
      font-size: 20px;
      color: rgb(0, 247, 255);
    }

 
    .klb-spl {
      background: rgba(86, 33, 185, 0.603);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
    }


    .klb-spl-2 {
      position: relative;
      display: inline-block;
      top: 50px;
      left: 320px;
      background: rgba(17, 189, 241, 0.603);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
    }
















    /* responsive media query Start */


    @media (max-width: 1000px) {

      /* når bredde er 1000 til skjermen, så skal max-width klasser bytte posisjon */

      .max-width {
          padding: 0 50px;
      }
    }


    @media (max-width: 978px) {

    /* gir maks bredde til klasse max-width. */

      .max-width {
        max-width: 800px;
      }

    }


    @media (max-width: 690px) {


    /* når bredde er 690 til skjermen, så skal max-width klasser bytte posisjon */

      .max-width {
          padding: 0 22px;
      }


    /*  gir fonstørrelse til tekst nummer 2, som er i homepage.
        Det gjelder bare når bredde til skjermen er 690. */

      .homepage .text-2 {
          font-size: 60px;

      }


    /*  gir fonstørrelse til tekst nummer 3, som er i homepage.
        Det gjelder bare når bredde til skjermen er 690. */

      .homepage .text-3{
          font-size: 32px;

      }


    /*  gir fonstørrelse til play tekst, som er i homepage.
        Det gjelder bare når bredde til skjermen er 690. */

      .homepage a {
        font-size: 20px;

      }

    }



    @media (max-width: 528px) {}





    @media (max-width: 500px) {


    /*  gir fonstørrelse til tekst nummer 2, som er i homepage.
        Det gjelder bare når bredde til skjermen er 500. */

      .homepage .text-2 {
          font-size: 50px;

      }


    /*  gir fonstørrelse til tekst nummer 3, som er i homepage.
        Det gjelder bare når bredde til skjermen er 500. */

      .homepage .text-3 {
          font-size: 27px;
          }

    }

    /* responsive media query End */
